# 코딩도장
## 10. 리스트와 튜플 사용하기

### 10.1 리스트

In [2]:
a = [37,  21, 56, 34, 19]
a

[37, 21, 56, 34, 19]

In [4]:
person = ['james', 17, 157.2, True]
person

['james', 17, 157.2, True]

In [5]:
# 빈 리스트 만들기 
# 빈 리스트를 만들어 놓은 뒤에 새 값 추가
a = []
a

[]

In [6]:
b = list()
b

[]

In [7]:
# range 사용
range(10)

range(0, 10)

In [9]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [12]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [1]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
d.index(9)
d.count(5)

1

### 10.2 튜플

In [14]:
a = (38, 21, 52, 62, 19)
a

(38, 21, 52, 62, 19)

In [15]:
a = 38, 21, 52, 62, 19
a

(38, 21, 52, 62, 19)

In [16]:
person = ('james', 17, 157.2, True)
person

('james', 17, 157.2, True)

In [17]:
(38)

38

In [18]:
(38,)

(38,)

In [19]:
38,

(38,)

In [20]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [22]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

### 10.2.3 튜플-리스트

In [23]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [24]:
b = (1,2,3)
list(b)

[1, 2, 3]

In [1]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [2]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [3]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [4]:
d, e, f = (4, 5, 6)
print(d, e, f)

4 5 6

In [5]:
# 언패킹 : 리스트/튜플의 요소를 변수 여러개에 할당 하는 것 

x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

In [6]:
y = (4, 5, 6)
d, e, f = y
print(d, e, f)

4 5 6

In [7]:
# 패킹 : 변수에 리스트/튜플 할당
a = [1, 2, 3]
b = (1, 2, 3)
c = 1, 2, 3

In [8]:
a = (False, 'Python')
a

(False, 'Python')

### 10.4 range로 리스트 만들기

In [9]:
a = list(range(5, -10, -2))
a

[5, 3, 1, -1, -3, -5, -7, -9]