# 코딩도장
## 10. 리스트와 튜플 사용하기

### 10.1 리스트

In [2]:
a = [37,  21, 56, 34, 19]
a

[37, 21, 56, 34, 19]

In [4]:
person = ['james', 17, 157.2, True]
person

['james', 17, 157.2, True]

In [5]:
# 빈 리스트 만들기 
# 빈 리스트를 만들어 놓은 뒤에 새 값 추가
a = []
a

[]

In [6]:
b = list()
b

[]

In [7]:
# range 사용
range(10)

range(0, 10)

In [9]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
b = list(range(5, 12))
b

[5, 6, 7, 8, 9, 10, 11]

In [12]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [13]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 10.2 튜플

In [14]:
a = (38, 21, 52, 62, 19)
a

(38, 21, 52, 62, 19)

In [15]:
a = 38, 21, 52, 62, 19
a

(38, 21, 52, 62, 19)

In [16]:
person = ('james', 17, 157.2, True)
person

('james', 17, 157.2, True)

In [17]:
(38)

38

In [18]:
(38,)

(38,)

In [19]:
38,

(38,)

In [20]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [22]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

### 10.2.3 튜플-리스트

In [23]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [24]:
b = (1,2,3)
list(b)

[1, 2, 3]