In [1]:
import pandas as pd

In [7]:
item_metadata = pd.read_csv('C:/Users/HS/Documents/GitHub/Recommendation system/data/item_metadata_v2.csv')

In [12]:
item_matadata = item_metadata.head(10000)
item_matadata.head()

   item_id                                         properties
0     5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1     5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2     5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
3     5910  Satellite TV|Sailing|Cosmetic Mirror|Telephone...
4     6066  Satellite TV|Sailing|Diving|Cosmetic Mirror|Sa...

In [14]:
a = []
for i in item_metadata['item_id']:
    a.append(i)

In [ ]:
def makeListUsingBulkAlloc(N):
    result = [0]*N #한번에 N개의 공간을 0으로 채우는 방법입니다.
    for i in range(N):
        result[i] = i
    return result