In [1]:
print("Hello, Anaconda")

Hello, Anaconda

In [3]:
import pandas as pd

In [6]:
#시리즈 (Series)
#1차원 데이터를 저장하기 위한 데이터 구조 
dat= pd.Series([1,3,6,12])

dat

0     1
1     3
2     6
3    12
dtype: int64

In [8]:
dat.values

array([ 1,  3,  6, 12], dtype=int64)

In [11]:
dat2= pd.Series(['aa','bb','cc','d'])
dat2

0    aa
1    bb
2    cc
3     d
dtype: object

In [12]:
dat3= pd.Series([1,'aa', 2.34, 'd'])
dat3

0       1
1      aa
2    2.34
3       d
dtype: object

In [14]:
dat4= pd.Series([1,3,6,12], index=[1,10,20,30])
dat4

1      1
10     3
20     6
30    12
dtype: int64

In [16]:
dat5= pd.Series([1,3,6,12], index=['a','b','c','d'])
dat5

a     1
b     3
c     6
d    12
dtype: int64

In [17]:
dat6= pd.Series({'a':1, 'b':2, 'c':3, 'd':4})
dat6

a    1
b    2
c    3
d    4
dtype: int64

In [18]:
dat2.index= ['un','due','trois','quatre']
dat2

un        aa
due       bb
trois     cc
quatre     d
dtype: object

In [19]:
dat5.iloc[3] #iloc  프로퍼티로 순서 인덱스를 지정

12

In [1]:
"hi"

'hi'